---
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths({ paginate }) {
    const pages = await getCollection('posts', ({ data }) => {
        return data.draft !== true; // Filter out drafts if necessary
    });
    return paginate(pages, { pageSize: 3}); // Adjust pageSize as needed
}

const { page } = Astro.props;
const { prev, next } = page.url;
---
<BaseLayout>
  <main>

    <div>
        {page.data.map(({ data, slug }) => (
            <a style="text-decoration: none; color:black;" href={`/posts/${slug}`}>
            <div style=" background-color: rgb(108, 245, 133); border-radius: 10px; border:solid; padding:10px; margin:10px">
            <h3>{data.title}</h3>
            <p>{data.description}</p>
            <div>
                <Picture src={data.image.url} alt={data.image.alt} height="200" width="300"/>
            </div>
            </div>
        </a>
        ))}
    </div>

    <div>
        <p>Page {page.currentPage} of {page.lastPage}</p>
        {prev && <a href={prev}>Previous Page</a>}
        {next && <a href={next}>Next Page</a>}
    </div>
    </main>
</BaseLayout>
