---
import BaseLayout from "./BaseLayout.astro";
import { Picture } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main class="p-4">

    <h1 class="">{frontmatter.title}</h1>

    <p class="text-gray-600">{frontmatter.pubDate.toString().slice(0,10)}</p>
    
    <p class="italic">{frontmatter.description}</p>

    <p class="font-semibold">Written by: {frontmatter.author}</p>

    <Picture formats={['avif', 'webp']} src={frontmatter.image} alt={frontmatter.imageAlt} width="600" height="400" class="w-72 mx-auto my-4" />

    <slot />

  </main>
</BaseLayout>
