---
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
    const pages = await getCollection('posts', ({ data }) => {
        return data.draft !== true; // Filter out drafts if necessary
    });
    return paginate(pages, { pageSize: 1}); // Adjust pageSize as needed
}

const { page } = Astro.props;
const { prev, next } = page.url;
---

<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <h1>Blog Posts</h1>
    <ul>
        {page.data.map(({ data, slug }) => (
            <li><a href={`/posts/${slug}`}>{data.title}</a></li>
            <li><a href={`/posts/${slug}`}>{data.description}</a></li>
        ))}
    </ul>
    <footer>
        <p>Page {page.currentPage} of {page.lastPage}</p>
        {prev && <a href={prev}>Previous Page</a>}
        {next && <a href={next}>Next Page</a>}
    </footer>
  </body>
</html>
